#education.container.education-container
	.row.heading
		.col.s12
			h2 Education
	.row
		.col.s12.m3.offset-m3.center
			img.z-depth-2(src=cdn + "/academics/education/iitgn-logo.svg")
		.col.s12.m6
			p.valign-wrapper
				i.material-icons account_balance
				| Indian Institute of Technology Gandhinagar
			p.valign-wrapper
				i.material-icons school
				| Bachelor of Technology
			p.valign-wrapper
				i.material-icons memory
				| Electrical Engineering
			p.valign-wrapper
				i.material-icons date_range
				| 2010 - 2014