extend ../layout
block append head
	title #{title}
	meta(name="description" content="#{description}")
	link(rel="canonical", href="//www.nishankjain.com/academics")
block content
	include ../common/academics-parallax
	include education-container
	include internships-container
	include projects-container
block append js
	include scripts