.container.internships-container
	.row.heading
		.col.s12
			h2 Internships
	.row.internship2
		.col.s12
			.card.white-text
				.row
					.col.s12.m8.place
						p.valign-wrapper
							i.material-icons account_balance
							| California Institute of Technology
					.col.s12.m4
						p.valign-wrapper.dates
							i.material-icons date_range
							| May - July (2013)
		.col.s12
			.intern-details2
				.row
					.col.s12.m10
						.valign-wrapper
							i.material-icons title
							span Project Title
						p.details Unsupervised Clustering Of Transient Events In The Variable Sky
						.valign-wrapper
							i.material-icons description
							span Project Description
						p.details Astronomical objects with time-varying brightness over a period ranging from minutes to years are termed Transients or Variables. Examples include Supernovae, Quasars, Blazars, Flares, Cataclysmic Variables etc. Multiple observations of the same object over an extended period of time are plotted as datapoints and are called Lightcurves. An array of periodic and non-periodic features are extracted from each lightcurve. From the lightcurves of known classes of objects, mathematical representations of the best of these features can be derived and then used as training sets for unsupervised clustering (categorization and classification) of the new and unknown transients. One such approach of finding the best features of classification using Self-Organizing Maps with the Catalina Real Time Transient Survey (CRTS) dataset through application of the SOM Toolbox in Matlab is demonstrated.
					.col.s12.m2.center
						img(src=cdn + "/academics/caltech-logo.svg")
						a.waves-effect.waves-light.btn(href=cdn + "/academics/internships/caltech-intern-report.pdf" download="Caltech-Intern-Report-Nishank-Jain")
							i.material-icons.left file_download
							| Report
	.row.internship1
		.col.s12
			.card.white-text
				.row
					.col.s12.m8.place
						p.valign-wrapper
							i.material-icons account_balance
							| Indian Institute of Technology Gandhinagar
					.col.s12.m4
						p.valign-wrapper.dates
							i.material-icons date_range
							| May - July (2012)
		.col.s12
			.intern-details1
				.row
					.col.s12.m10
						.valign-wrapper
							i.material-icons title
							span Project Title
						p.details Tunable Diode Laser Absorption Spectroscopy Of Gases For Calibration-free Measurement Of Concentration And Pressure
						.valign-wrapper
							i.material-icons description
							span Project Description
						p.details Tunable Diode Laser Absorption Spectrometry (TDLAS) involves radiating a gas sample with laser light whose frequency is controlled by a signal generator. The sample absorbs energy (photons) and the intensity of absorption varies as a function of laser frequency resulting in the absorption spectrum. It can be used to detect presence of gas and measure its temperature, pressure and concentration. The aim of the project is to reduce circuit noise and improve SNR using Wavelength Modulation by experimenting with a 12-bit Digital-to-Analog Converter (DAC) which provides higher resolution and a PIC Microcontroller which replaces the existing Arduino Microcontroller.
					.col.s12.m2.center
						img(src=cdn + "/academics/iitgn-logo.svg")
						a.waves-effect.waves-light.btn(href=cdn + "/academics/internships/iitgn-intern-report.pdf" download="IITGn-Intern-Report-Nishank-Jain")
							i.material-icons.left file_download
							| Report