ul.side-nav#nav-icons.nav-inactive
	li
		a.button-collapse(href="#" data-activates="nav-icons")
			i.material-icons.icon menu
	li
		a.tooltipped(href="/academics" data-position="right" data-delay="50" data-tooltip="Academics")
			i.material-icons.icon school
			p.icon-name Academics
	li
		a.tooltipped(href="/experience" data-position="right" data-delay="50" data-tooltip="Experience")
			i.material-icons.icon work
			p.icon-name Experience
	li
		a.tooltipped(href="/projects" data-position="right" data-delay="50" data-tooltip="Projects")
			i.material-icons.icon code
			p.icon-name Projects
	li
		a.tooltipped(href="//medium.com/@nishankjaintdk" data-position="right" data-delay="50" data-tooltip="Blog")
			i.material-icons.icon border_color
			p.icon-name Blog

#sidenav-overlay

//- ul.side-nav#slide-out
	li.no-padding
		ul.collapsible.collapsible-accordion
			li
				a.collapsible-header.waves-effect Academics
				.collapsible-body
					ul
						li
							a.header-contents(href="/academics") Home
						li
							a.header-contents(href="/academics/education") Education
						li
							a.header-contents(href="/academics/internships") Internships
						li
							a.header-contents(href="/academics/projects") Projects
						li
							a.header-contents(href="/academics/courses") MOOC
						li
							a.header-contents(href="/academics/activities") Activities
	li.no-padding
		ul.collapsible.collapsible-accordion
			li
				a.collapsible-header.waves-effect Experience
				.collapsible-body
					ul
						li
							a.header-contents(href="/experience") Home
						li
							a.header-contents(href="/experience/altair") Altair
						li
							a.header-contents(href="/experience/courtside") Courtside
						li
							a.header-contents(href="/experience/fitternity") Fitternity
	li.no-padding
		ul.collapsible.collapsible-accordion
			li
				a.collapsible-header.waves-effect Projects
				.collapsible-body
					ul
						li
							a.header-contents(href="/projects") Home
						li
							a.header-contents(href="/projects/responsive-design") Responsive Design
						li
							a.header-contents(href="/projects/t-shirt-design-editor") T-shirt Design Editor
						li
							a.header-contents(href="/projects/flight-search") Flight Search App
						li
							a.header-contents(href="/projects/analytics-dashboard") Analytics Dashboard
	li.no-padding
		ul.collapsible.collapsible-accordion
			li
				a.collapsible-header.waves-effect Blog
				.collapsible-body
					ul
						li
							a.header-contents(href="https://medium.com/@nishankjaintdk") Home
						li
							a.header-contents(href="https://medium.com/@nishankjaintdk/setting-up-a-node-js-app-on-a-linux-ami-on-an-aws-ec2-instance-with-nginx-59cbc1bcc68c") Responsive Design
						li
							a.header-contents(href="https://medium.com/@nishankjaintdk/serving-a-website-on-a-registered-domain-with-https-using-nginx-and-lets-encrypt-8d482e01a682") T-shirt Design Editor
//- a.button-collapse(href="#" data-activates="slide-out")
//- 	i.material-icons menu