.container.entrepreneurship-container
	.entrepreneurship1
		.row.heading
			.col.s12
				h2 Courtside
		.row.intro
			.col.s12
				.row
					.col.s12.m3
						.valign-wrapper.headings
							i.material-icons date_range
							span Active Period
						.details
							p May 2015 - May 2016
					.col.s12.m3
						.valign-wrapper.headings
							i.material-icons person
							span My Profile
						.details
							p Tech Lead & Front-end Developer
					.col.s12.m3
						.valign-wrapper.headings
							i.material-icons people
							span Team Members
						.details
							p.links
								a(href="//www.linkedin.com/in/maisum-dairkee-a596a314" target="_blank") Maisum Dairkee
								a(href="//www.linkedin.com/in/abhishek-umrao-56a15637" target="_blank") Abhishek Umrao
								a(href="//www.linkedin.com/in/vishwamrathore" target="_blank") Vishwam Rathore
								a(href="//www.linkedin.com/in/hasim-kalolwala-6740aa28" target="_blank") Hasim Kalolwala
					.col.s12.m3
						.valign-wrapper.headings
							i.material-icons business_center
							span Accelerator
						.details
							p.links
								a(href="//bengaluru.numa.co" target="_blank") NUMA
				.valign-wrapper.headings
					i.material-icons warning
					span Motivation
				.details
					p Being a sports fanatic and a regular badminton and cricket player, it became quite difficult to find a nice place to play when I joined my first job in Bangalore. An even more challenging task was to find a fellow player to play with. An idea took shape of a possible solution when I met two of my friends in a cafe over some coffee and pizzas. The solution was to find out all sports facilities in Bangalore and list them in a single place with detailed information including sports offered, operational times, dimensions of the arena, capacity, availability, location, playing charges etc.
				.valign-wrapper.headings
					i.material-icons lightbulb_outline
					span Idea
				.details
					p We started off with populating our database and making associations with facility managers to provide them bookings over phone. And set up a website for people to call or message on a helpline number to assist them in finding and booking arenas. After an overwheming response running it for about 45 days, we decided that an automated system for discovery and bookings is required to meet the growing number of calls and reduce back-and-forth between the facility manager and the player by removing ourselves as human intermediaries. And that's how Courtside was born.
		.row
			.col.s12.cover
				img(src=cdn + "/entrepreneurship/courtside/courtside.png" alt="Courtside")
				h2 Courtside
			.col.s12
				.valign-wrapper.headings
					i.material-icons keyboard
					span Execution
				.details
					p Using the feedback from our pool of users, we built an Android app for the users using which they could search for the nearest sports facility, find out suitable playing slots and reserve them by paying online. For the facility managers, we developed a web management portal which provided them a tool to send reminders, allot inventory, manage one-time users as well as members with options for recurring bookings and also gave them a wide-screen view of the currently active parts of the facility, details of each user using the facility.