.container.academics-container
	.row
		a.col.s12.m4(href="/academics/#education")
			.card
				.image.center
					img.acads(src=cdn + "/home/iitgn.png")
				.card-content.white-text.acad1
					p.center
						span.card-title Education
					p I am a Bachelor of Technology in Electrical Engineering and received my undergraduate degree from Indian Institute of Technology Gandhinagar.
		a.col.s12.m4(href="/academics/#internships")
			.card
				.image.center
					img.acads(src=cdn + "/home/caltech-logo.png")
				.card-content.white-text.acad2
					p.center
						span.card-title Internships
					p I was a Summer Undergraduate Research Fellow at Caltech in the Astronomy and Astrophysics department in the summer of 2013.
		a.col.s12.m4(href="/academics/#projects")
			.card
				.image.center
					img.acads(src=cdn + "/home/ligo.png")
				.card-content.white-text.acad3
					p.center
						span.card-title Projects
					p I worked on a project during spring of 2014 at IIT Gandhinagar to extract a Gravitational Wave Signal from the LIGO detector noise using matched filtering.