.container.article-container
	.row
		a.col.s12.m4.offset-m2(href="//medium.com/@nishankjaintdk/setting-up-a-node-js-app-on-a-linux-ami-on-an-aws-ec2-instance-with-nginx-59cbc1bcc68c")
			.card
				.image.center
					img.article(src="//cdn-images-1.medium.com/fit/c/400/120/1*NFejJ5lJR3nyRLqGicdGbw.png")
				.card-content.black-text.article1
					p.center.card-title(title="Setting up a Node.js app on a Linux AMI on an AWS EC2 instance with Nginx") Setting up a Node.js app on a Linux AMI on an AWS EC2 instance with Nginx
					p.description(title="A step-by-step approach to create an AWS account, launch an EC2 instance, and run a node.js app on") A step-by-step approach to create an AWS account, launch an EC2 instance, and run a node.js app on port 80.
		a.col.s12.m4(href="//medium.com/@nishankjaintdk/serving-a-website-on-a-registered-domain-with-https-using-nginx-and-lets-encrypt-8d482e01a682")
			.card
				.image.center
					img.article(src="//cdn-images-1.medium.com/fit/c/400/120/1*QxSZKPnbvd7_ySqSanwPYA.png")
				.card-content.black-text.article1
					p.center.card-title(title="Serving a website on a registered domain with HTTPS using Nginx and Let’s Encrypt") Serving a website on a registered domain with HTTPS using Nginx and Let’s Encrypt
					p.description(title="How to register and use a domain, install an SSL certificate and serve the website on HTTPS") How to register and use a domain, install an SSL certificate and serve the website on HTTPS