.container.cover-container
	.profile-pic
		.row
			.col.s12.m4.offset-m8
				img.z-depth-2(src=cdn + "/home/pp.png")
	.about-me
		.row
			.col.s12
				p I am a web development enthusiast from India. I spend my days tinkering with HTML, CSS and JavaScript and nights snake charming with Python. When I am not doing that, I am reading up on web standards, security and performance or
					a(href="//www.youtube.com/watch?v=9rIy0xY99a0")  randomly
					|  surfing YouTube. If all of this becomes seizure-inducing, I go and smash some shuttles on a badminton court. But if Federer is playing, I whole-heartedly embrace the idiocy of the idiot box and skip all of the above.