.container.entrepreneurship-container
	.row
		a.col.s12.m4.offset-m4(href="/entrepreneurship")
			.card
				.image.center
					img.company(src=cdn + "/home/courtside.png")
				.card-content.white-text.entrepreneurship
					p.center
						span.card-title Co-founder
					p.center Jun 2015 - Jun 2016
					p I co-founded Courtside with 3 college friends and built a tech product to facilitate discovery of sports facilities, reserve slots and enable online arena management.