.container.experience-container
	.row
		a.col.s12.m4(href="/experience/#altair")
			.card
				.image.center
					img.company(src=cdn + "/home/altair.png")
				.card-content.white-text.experience1
					p.center
						span.card-title Front-end Developer
					p.center Aug 2014 - Jan 2016
					p I developed the charting library at Altair for a visual analytics web application called Envision encompassing 17 different chart types including delta-drill, waterfall, ranking etc.
		a.col.s12.m4(href="/experience/#courtside")
			.card
				.image.center
					img.company(src=cdn + "/home/courtside.png")
				.card-content.white-text.experience2
					p.center
						span.card-title Co-founder
					p.center Jun 2015 - Jun 2016
					p I co-founded Courtside with 3 college friends and built a tech product to facilitate discovery of sports facilities, reserve slots and enable online arena management.
		a.col.s12.m4(href="/experience/#fitternity")
			.card
				.image.center
					img.company(src=cdn + "/home/fitternity.png")
				.card-content.white-text.experience3
					p.center
						span.card-title Full-stack Developer
					p.center Jul 2016 - May 2017
					p I was the webmaster at Fitternity, redesigned the website, worked on site speed and API improvements, in-memory caching, SEO and deep linking with the Android app.