extend ../layout
block append head
	title #{title}
	meta(name="description" content="#{description}")
	link(rel="canonical", href="//www.nishankjain.com")
block content
	include cover-parallax
	include cover-container
	include ../common/academics-parallax
	include academics-container
	include ../common/experience-parallax
	include experience-container
	include ../common/entrepreneurship-parallax
	include entrepreneurship-container
	include ../common/projects-parallax
	include project-container
	include ../common/blog-parallax
	include article-container
	include ../common/connect-parallax
	include connect-container
block append js
	include scripts