extend ../layout
block append head
	title #{title}
	meta(name="description" content="#{description}")
	link(rel="canonical", href="https://www.nishankjain.com")
block content
	div.parallax-container#index-banner
		div.section.no-pad-bot
			div.container
				br
				br
				h1.header.center.teal-text.text-lighten-2 Parallax Template
				div.row.center
					h5.header.col.s12.light A modern responsive front-end framework based on Material Design
				br
				br
		div.parallax
			//- img(src="http://d14x7hkpd082ov.cloudfront.net/home/bg1.png" alt="Unsplashed background img 1")
			img(src="/images/bg1.png" alt="Unsplashed background img 1")
block append js
	include scripts