// Import the required mixins
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import 'css3-mixins';
// Font Weights
$light: 400;
$regular: 500;
$medium: 600;
$bold: 700;
$extra-bold: 800;

// Global Styles
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
// 	margin: 0;
// 	padding: 0;
// }

@media only screen and (min-width: 993px) {
	.container {
		width: 85%;
	}
}

html, body {
	margin: 0;
	height: 100%;
	font-family: 'Roboto';
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.text-center {
	text-align: center;
}

.row {
	margin-bottom: 0;
}

.card {
	margin: 1rem 0 1rem 0
}

.button-collapse {
	position: fixed;
	left: 15px;
	top: 15px;
	color: white;
	display: block;
	z-index: 10;
}

.side-nav {
	.collapsible-header {
		padding: 0 40px;
	}
	.header-contents {
		padding: 0 30px 0 60px !important;
		font-weight: $light;
	}
}