.parallax-container.valign-wrapper.fold
	.container
		.row
			.col.s12
				h2.center Work Experience
	.parallax
		img(src="https://d14x7hkpd082ov.cloudfront.net/home/workex.png" alt="Work Experience")