.parallax-container.valign-wrapper.fold
	.container
		.row
			.col.s12
				h2.center Personal Projects
	.parallax
		img(src="https://d14x7hkpd082ov.cloudfront.net/home/projects.png" alt="Personal Projects")