.container.company-container
	.row.company2
		.col.s12
			.card.white-text
				.row
					.col.s12.m8.place
						p.valign-wrapper.name
							i.material-icons work
							| Fitternity
					.col.s12.m4
						p.valign-wrapper.dates
							i.material-icons date_range
							| Jun 2016 - May 2017
		.col.s12
			.company-details2.company-details
				.row
					.col.s12.m10
						.valign-wrapper
							i.material-icons info
							span About Fitternity
						p.details Fitternity is a fitness discovery and booking platform currently operational in multiple metropolitan cities in India. It assists fitness seekers and regular users in discovering fitness forms and facilities around them. Through Fitternity, users can try out different fitness forms such as gyms, yoga, zumba, marathon training, personal trainers, healthy meals etc. and purchase a membership for the form that suits them the most.
						ul.tabs#fitternity-projects
							li.tab.col.s3
								a.active(href="#project-1") Website Redesign
							li.tab.col.s3
								a(href="#project-2") Faster Search
							li.tab.col.s3
								a(href="#project-3") SEO
							li.tab.col.s3
								a(href="#project-4") Smaller Projects
						.col.s12#project-1 Test 1
						.col.s12#project-2 Test 2
						.col.s12#project-3 Test 3
						.col.s12#project-4 Test 4
						//- .valign-wrapper
						//- 	i.material-icons description
						//- 	span Project Abstract
						//- p.details Astronomical objects with time-varying brightness over a period ranging from minutes to years are termed Transients or Variables. Examples include Supernovae, Quasars, Blazars, Flares, Cataclysmic Variables etc. Multiple observations of the same object over an extended period of time are plotted as datapoints and are called Lightcurves. An array of periodic and non-periodic features are extracted from each lightcurve. From the lightcurves of known classes of objects, mathematical representations of the best of these features can be derived and then used as training sets for unsupervised clustering (categorization and classification) of the new and unknown transients. One such approach of finding the best features of classification using Self-Organizing Maps with the Catalina Real Time Transient Survey (CRTS) dataset through application of the SOM Toolbox in Matlab is demonstrated.
					.col.s12.m2.center
						img(src=cdn + "/experience/fitternity/fitternity.svg")
						a.waves-effect.waves-light.btn(href="//www.fitternity.com" target="_blank")
							i.material-icons.left open_in_new
							| Website
	.row.company1
		.col.s12
			.card.white-text
				.row
					.col.s12.m8.place
						p.valign-wrapper.name
							i.material-icons work
							| Altair
					.col.s12.m4
						p.valign-wrapper.dates
							i.material-icons date_range
							| Aug 2014 - Jan 2016
		.col.s12
			.company-details1.company-details
				.row
					.col.s12.m10
						.valign-wrapper
							i.material-icons title
							span Project Title
						p.details Tunable Diode Laser Absorption Spectroscopy Of Gases For Calibration-free Measurement Of Concentration And Pressure
						.valign-wrapper
							i.material-icons description
							span Project Abstract
						p.details Tunable Diode Laser Absorption Spectrometry (TDLAS) involves radiating a gas sample with laser light whose frequency is controlled by a signal generator. The sample absorbs energy (photons) and the intensity of absorption varies as a function of laser frequency resulting in the absorption spectrum. It can be used to detect presence of gas and measure its temperature, pressure and concentration. The aim of the project is to reduce circuit noise and improve SNR using Wavelength Modulation by experimenting with a 12-bit Digital-to-Analog Converter (DAC) which provides higher resolution and a PIC Microcontroller which replaces the existing Arduino Microcontroller.
					.col.s12.m2.center
						img(src=cdn + "/experience/altair/altair.svg")
						a.waves-effect.waves-light.btn(href="//ba.altair.com" target="_blank")
							i.material-icons.left open_in_new
							| Website