.container.company-container
	#fitternity.row.company2
		.col.s12
			.card.white-text
				.row
					.col.s12.m8.place
						p.valign-wrapper.name
							i.material-icons work
							| Fitternity
					.col.s12.m4
						p.valign-wrapper.dates
							i.material-icons date_range
							| Jun 2016 - May 2017
		.col.s12
			.company-details2.company-details
				.row
					.col.s12.m10
						.valign-wrapper
							i.material-icons info
							span About Fitternity
						p.details Fitternity is a fitness discovery and booking platform currently operational in multiple metropolitan cities in India. It assists fitness seekers and regular users in discovering fitness forms and facilities around them. Through Fitternity, users can try out different fitness forms such as gyms, yoga, zumba, marathon training, personal trainers, healthy meals etc. and purchase a membership for the form that suits them the most.
						.valign-wrapper
							i.material-icons view_carousel
							span Projects
						.projects-carousel
							p.valign-wrapper
								i.material-icons filter_1
								| Rewriting the complete website with a novel color scheme, font style, iconography, responsive design and modular sections
							p.valign-wrapper
								i.material-icons filter_2
								| Improving page load speed by implementing minification, compression and CDN caching for static assets and Redis caching
							p.valign-wrapper
								i.material-icons filter_3
								| Serving structured data on all pages, establishing URL hierarchy and sitemap scripting, managing link juice flow
							p.valign-wrapper
								i.material-icons filter_4
								| Cleaning up the database and fixing entries in accordance with the established URL hierarchy
							p.valign-wrapper
								i.material-icons filter_5
								| Improving the APIs for quicker response times, writing end-to-end (APIs, UI & CMS) code for the events module
							p.valign-wrapper
								i.material-icons filter_6
								| Managing Google's search console for the website as the webmaster
					.col.s12.m2.center
						img(src=cdn + "/experience/fitternity/fitternity.svg")
						a.waves-effect.waves-light.btn(href="//www.fitternity.com" target="_blank")
							i.material-icons.left open_in_new
							| Website
	#altair.row.company1
		.col.s12
			.card.white-text
				.row
					.col.s12.m8.place
						p.valign-wrapper.name
							i.material-icons work
							| Altair
					.col.s12.m4
						p.valign-wrapper.dates
							i.material-icons date_range
							| Aug 2014 - Jan 2016
		.col.s12
			.company-details1.company-details
				.row
					.col.s12.m10
						.valign-wrapper
							i.material-icons info
							span About Altair
						p.details Altair is an enterprise-class engineering and cloud-computing software development and product design company. It offers software in five different categories related to Computer Aided Engineering (CAE) and High Performance Computing (HPC) which include solvers, modeling tools and Internet of Things (IoT). The product which I worked on is an analytics tool that enables data visualization and analysis as a part of the IoT toolset.
						.valign-wrapper
							i.material-icons view_carousel
							span Projects
						.projects-carousel
							p.valign-wrapper
								i.material-icons filter_1
								| Implementing a charting library as a standalone module in the analytics web application as part of a two-member team
							p.valign-wrapper
								i.material-icons filter_2
								| Improving client-side rendering performance when a large dataset is used by implementing virtual scrolling
							p.valign-wrapper
								i.material-icons filter_3
								| Developing and debugging 17 different chart types using d3 including delta-drill, waterfall, ranking, bar/line/scatter/area, pie etc.
							p.valign-wrapper
								i.material-icons filter_4
								| Exposing chart properties to the user to modify chart design, behaviour and other chart-specific and universal properties
							p.valign-wrapper
								i.material-icons filter_5
								| Bug fixing, feature implementations and improvements in other components of the front-end application
					.col.s12.m2.center
						img(src=cdn + "/experience/altair/altair.svg")
						a.waves-effect.waves-light.btn(href="//ba.altair.com" target="_blank")
							i.material-icons.left open_in_new
							| Website