extend ../layout
block append head
	title #{title}
	meta(name="description" content="#{description}")
	link(rel="canonical", href="//www.nishankjain.com/experience")
block content
	include ../common/experience-parallax
	include company-container
	//- include internships-container
	//- include projects-container
block append js
	include scripts