extend ../layout
block append head
	title #{title}
	meta(name="description" content="#{description}")
	link(rel="canonical", href="//www.nishankjain.com/projects")
block content
	include ../common/projects-parallax
	include projects-container
block append js
	include scripts