.container.personal-projects-container
	.row
		a.col.s12.m4.projects.project1(href="/projects/responsive-design")
			.card
				.image.center(style="background-image: url(" + cdn + "/projects/project1.png" + ")")
				.card-content.white-text
					p.center.card-title Responsive Design
					p A mock-up of the home page of a website using responsive design principles. It is done entirely using custom CSS without any external bootstrap-like CSS library.
		a.col.s12.m4.projects.project2(href="/projects/t-shirt-design-editor")
			.card
				.image.center(style="background-image: url(" + cdn + "/projects/project2.png" + ")")
				.card-content.white-text
					p.center.card-title T-shirt Design Editor
					p A SQL database-driven t-shirt design editor written in Angular and using fabric.js where you can add text and multiple images, undo or redo edits, save the designs and add new ones.
		a.col.s12.m4.projects.project3(href="/projects/flight-search")
			.card
				.image.center(style="background-image: url(" + cdn + "/projects/project3.png" + ")")
				.card-content.white-text
					p.center.card-title Flight Search App
					p A mock app written in Angular to search for flights between two available cities as well as filter and sort them on the basis of price, duration, airline, departure and arrival times.
		a.col.s12.m4.projects.project4(href="/projects/analytics-dashboard")
			.card
				.image.center(style="background-image: url(" + cdn + "/projects/project4.png" + ")")
				.card-content.white-text
					p.center.card-title Analytics Dashboard
					p A primitive dashboard design using Angular's directives and d3.js for charting. It can be split into multiple panes each with its own separate chart. A starter for an analytics dashboard.
		a.col.s12.m4.projects.project5(href="/projects/github-users")
			.card
				.image.center(style="background-image: url(" + cdn + "/projects/project5.png" + ")")
				.card-content.white-text
					p.center.card-title GitHub Users
					p A single page application where you can search and add profile cards of GitHub users. The card contains name, location and followers. Can be sorted based on these three filters.
		//- a.col.s12.m4.projects.project4(href="/projects/analytics-dashboard")
			.card
				.image.center(style="background-image: url(" + cdn + "/home/project4.png" + ")")
				.card-content.white-text
					p.center.card-title Analytics Dashboard
					p A primitive dashboard design using Angular's directives and d3.js for charting. It can be split into multiple panes each with its own separate chart. A starter for an analytics dashboard.