@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto';
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.row {
  margin-bottom: 0;
}

.card {
  margin: 1rem 0 1rem 0;
}

.side-nav .collapsible-header {
  padding: 0 40px;
}

.side-nav .header-contents {
  padding: 0 30px 0 60px !important;
  font-weight: 400;
}

#nav-icons {
  transform: translateX(0);
  width: 50px;
  z-index: 1000;
}

#nav-icons li a {
  padding: 0;
  height: 60px;
  line-height: 60px;
}

#nav-icons li a .icon {
  width: 50px;
  height: inherit;
  line-height: inherit;
}

#nav-icons li a .icon-name {
  width: 160px;
  height: inherit;
  line-height: inherit;
}

#nav-icons li a i {
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

#nav-icons li a p {
  margin: 0;
}

.nav-inactive {
  -webkit-transition: width 0.15s ease-in;
  -khtml-transition: width 0.15s ease-in;
  -moz-transition: width 0.15s ease-in;
  -ms-transition: width 0.15s ease-in;
  -o-transition: width 0.15s ease-in;
  transition: width 0.15s ease-in;
}

.nav-active {
  -webkit-transition: width 0.2s ease-out;
  -khtml-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -ms-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  opacity: 0;
  display: none;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

.fold {
  min-height: 275px;
}

.cover-container .profile-pic {
  position: relative;
  height: 110px;
  padding: 0;
}

.cover-container .profile-pic img {
  width: 220px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translate(50%);
}

.academics-container .acads {
  height: 100px;
  margin-top: 5px;
}

.academics-container .acad1 {
  background-color: #0998e0;
}

.academics-container .acad2 {
  background-color: #ff6e1e;
}

.academics-container .acad3 {
  background-color: #3b3c3c;
}

.experience-container .company {
  height: 100px;
}

.experience-container .experience1 {
  background-color: #d7002c;
}

.experience-container .experience2 {
  background-color: #004068;
}

.experience-container .experience3 {
  background-color: #f8a515;
}

.project-container .projects {
  display: block;
}

.project-container .projects img {
  width: 100%;
}

.project-container .project1 .card-stacked, .project-container .project1 .card-content {
  background-color: #262634;
}

.project-container .project2 .card-stacked, .project-container .project2 .card-content {
  background-color: #607d8b;
}

.project-container .project3 .card-stacked, .project-container .project3 .card-content {
  background-color: #48485e;
}

.project-container .project4 .card-stacked, .project-container .project4 .card-content {
  background-color: #4682b4;
}

.article-container .article {
  width: 100%;
}

.article-container .card-content {
  position: relative;
}

.article-container .card-title {
  font-weight: 600;
  max-height: 65px;
  overflow: hidden;
  text-align: left;
}

.article-container .card-title:after {
  content: "...";
  position: absolute;
  top: 80px;
  left: 24px;
}

.article-container .description {
  margin-top: 25px !important;
  max-height: 60px;
  overflow: hidden;
}

.article-container .description:after {
  content: "...";
  position: absolute;
  bottom: 0px;
  left: 24px;
}

.article-container .image {
  border-bottom: 1px solid #e1e1e1;
}

.connect-container .col {
  text-align: center;
}

.connect-container .col img {
  width: 50px;
}

@media (max-width: 600px) {
  .connect-container .col img {
    width: 25px;
  }
}

.connect-container .icon {
  margin: 1rem 0 1rem 0;
}

.connect-container .icon a {
  display: inline-block;
}
