
@font-face
{
font-family: SansBlack;
src: url('../font/SourceSansPro-Black.otf');
}
@font-face
{
font-family: RobotoBold;
src: url('../font/Roboto-Bold.ttf');
}
@font-face
{
font-family: RobotoRg;
src: url('../font/Roboto-Regular.ttf');
}
@font-face
{
font-family: RobotoLt;
src: url('../font/Roboto-Light.ttf');
}
@font-face
{
font-family: SansLt;
src: url('../font/SourceSansPro-Light.otf');
}
@font-face
{
font-family: SansRg;
src: url('../font/SourceSansPro-Regular.otf');
}
@font-face
{
font-family: SansBold;
src: url('../font/SourceSansPro-Bold.otf');
}
::selection {
  background: #6cb458; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: #6cb458; /* Gecko Browsers */
  color:#fff;
}
body {
	margin:0px;background:#fff;font-family:SansRg, sans-serif;font-size:14px;
}
.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 240px;
}
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}

.fold.contact ul.contactOptions > li span.mobile.enable {
	display:none;
}
.logo.mobile.enable{
	display:none;	
}
.fold.contact.mobile.enable{

}
.fold.intro.mobile.enable {
	background:#166d10 url('../images/box-1-bg.jpg') right -120px top no-repeat;
	background-size : auto 100%;
	padding-top:0px;
	height:550px;
}
.fold h1.title.mobile.enable small {
	font-size:15px;
}
.fold h1.title.mobile.enable {
	font-size:25px;
	line-height:20px;
}
.fold.aboutUs.mobile.enable h1 {
	font-size:30px;	
}

.fold.contact .underline.mobile.enable{
	margin-top:30px !important;
}
.fold input.emailAddress.mobile.enable {
	width:80%;
	border:0px;
	outline:0px;
	margin:auto;
	text-align:center;
	color:#fff;
	padding:15px 20px;
	border-radius:2px;
	font-family:SansLt, sans-serif !important;
	font-size:14px !important;
	display:block;
}
.fold .inputEmail span.mobile.enabled.enable:active {
	margin-top:12px;
	box-shadow:none;
}
.fold .inputEmail span.mobile.enable.enabled{
	box-shadow: 3px 3px #bbb, 2px 2px #bbb, 1px 1px #bbb;
    border: 1px solid #bbb;
}
.fold .inputEmail span.mobile.enable {
	display:block;
	margin:auto;
	margin-top:10px;
	padding:15px 0px;
	font-size:12px;
	width:80%;
}
.outer {
    display: table;
    position: absolute;
    height: 90%;
    width: 100%;
	margin-top:40px;
	padding-top:30px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}
.fold.intro {
	background:#444 url('../images/box-1-bg.jpg') top right no-repeat;
	background-size:100% 100%;
	text-align:center;
	margin:auto;
	min-height:420px;
	height:80%;
	width:100%;
	overflow:hidden;
	position:relative;
	top:0px;
	left:0px;
}
.fold.intro.mobile.enable .logoOriginal{
	display:none;	
}
.fold .logo {
	max-width:200px;
	width:50%;
	margin:auto;
	margin-bottom:0px;
	margin-top:5%;
}
.fold h1.title small {
	font-weight:normal;
	font-size:22px;
	font-family:SansRg, sans-serif;
	margin-bottom:0px;
	color:#ddd;
}
.fold h1.title {
	color:#fff;
	opacity:0.9;
	text-transform:uppercase;
	font-size:58px;
	line-height:55px;
	font-weight:normal;
	font-family:SansBold, sans-serif;
	letter-spacing:1px;
	text-align:center;
	margin:0px;
	margin:10px;
	margin-bottom:40px;
}

.fold h1.title span{
	display:inline-block;
	margin:0px 10px;
	line-height:20px;
}

.fold input.emailAddress {
	width:300px;
	background:url('../images/bg-input.png') 0 0;
	border:0px;
	outline:0px;
	color:#fff;
	padding:15px 20px;
	border-radius:0px;
	font-family:SansLt, sans-serif !important;
	font-size:12px !important;
	vertical-align: bottom;
}
.fold input.emailAddress.error {
	color:#e88470
}
.fold .inputEmail {
	margin-top:20px;
}
.fold .inputEmail span {
	display:inline-block;
	padding:14px 16px;
	background:#fec107;
	font-family:SansBlack, sans-serif;
	font-size:14px;
	margin-left:-30px;
	border-radius:2px;
	color:#444;
	text-transform:uppercase;
	width:180px;
	white-space:nowrap;
	overflow:hidden;
	vertical-align:bottom
}
.fold .inputEmail span.enabled{
	cursor:pointer;	
}
.fold .inputEmail span.error {
	background:#ffae4e
}

.fold.contact {
	background:#fff;
	background-size : 100% auto;
	text-align:center;
	margin:auto;
	height:auto;
	width:100%;
	overflow:hidden;
	position:relative;
	top:0px;
	left:0px;
	padding:60px 0px;
	padding-bottom:80px;
}
.fold.contact .cell{
	display:inline-block;	
	height:346px;
	padding:20px 20px 0px 10px;
	vertical-align:top;
	width:280px;
	text-align:center;}
.fold.contact.mobile.enable .cell-1{
	background:#eee;
}
.fold.contact.mobile.enable .cell-2{
	background:#f9f9f9;
}
.fold.contact .cell.cell-1{
	background:#eee url('../images/cell-1.png') right top no-repeat;
}
.fold.contact .cell.cell-2{
	background:#f9f9f9 url('../images/cell-2.png') right top no-repeat;
}
.fold.contact .cell.cell-2 > img{
	width:85%;
	margin:10px 0px;
}
.fold.contact .cell.cell-3 > img{
	width:100px;
	margin-top:80px;
}
.fold.contact .cell.cell-3{
	background:#eee;
}
.fold.contact.mobile.enable {
	padding-bottom:20px;	
}
.fold.contact.mobile.enable h1.headingMain{
	margin-top:0px;
	font-size:30px;
}

.fold.contact ul.contactOptions li img{
	height:40px;
	width:40px;
	float:left;
	margin-top:-2px;
	margin-right:15px;
	vertical-align:middle;
	border-radius:60px;
	position:relative;
	z-index:10000;
}

.fold.contact ul.contactOptions {
	list-style:none;
	margin:0px;
	padding:0px;
	font-size:16px;
	margin-top:0px;
	margin-left:0px;
	color:#666;
	font-family:SansRg;
	padding-bottom:30px;
}
.fold.contact .bottomLine img{
	display:block;
	width:100px;
	height:100px;
	margin:auto;
	padding-bottom:20px;
}
.fold.contact .bottomLine{
	color:#999;
	font-size:20px;
	display:block;
	margin:auto;
	width:400px;
	text-align:center;
	margin-bottom:20px;
}
.fold.contact h1{
	font-weight:normal;
	color:#666;
	padding:0px 10px;
	font-size:14px;
	font-family:SansRg;
	padding-bottom:20px;
	display:inline-block;
}
.fold.contact h1.headingMain{
	font-size:38px;
	display:block;
	font-family:SansBold;
	color:#888;
	margin:auto;
	margin-bottom:5px;	
	margin-top:10px;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #888;
	display:inline-block;
	vertical-align:middle;
	margin-left:5px;
}
.fold.contact ul.contactOptions > li .pulse{
	position:absolute;
	background:#fff;
	height:38px;
	width:38px;
	top:10px;
	left:-3px;
	border-radius:60px;
	border: 4px solid #fff;
	opacity:1;
	border-bottom-color: #888;
	
}

.fold.contact ul.contactOptions > li{
	display:block;
	margin:0px;
	padding:0px;
	margin-left:30px;
	vertical-align:top;
	white-space:nowrap;
	padding-right:50px;
	font-size:14px;
	text-align:left;
	position:relative;
	height:auto;
	cursor:pointer;
	padding-top:15px;
	margin-bottom:20px;
}
.fold.contact ul.contactOptions > li span,
.fold.contact ul.contactOptions > li b {
	font-size:12px;
	font-family:SansRg;
	font-weight:normal;
}
.fold.contact ul.contactOptions > li ul.sportList img{
	width:25px;
	height:25px;	
}

.fold.contact .trackRequest {
	margin-left:28%;
	margin-top:5%;
	color:#444;
	display:inline-block;
	vertical-align:top;
}
.fold.contact .trackRequest input{
	border:0px;
	display:block;
	border-bottom:1px solid #888;
	padding:5px;
	background:none;
	margin-top:10px;
	width:200px;
	font-size:12px;
	color:#888;
	outline:0px;
}
.fold.contact .customerTicker{
	color:#777;
	display:inline-block;
	vertical-align:top;
	margin-top:5%;
	margin-left:100px;
	display:none;
}
.fold.contact .newRequest{
	margin-left:28%;
	margin-top:20px;
	color:#444;
	display:inline-block;
	vertical-align:top;
}
.fold.contact .optionFlow{
	list-style-type:none;
	margin:0px;
	padding:0px;
	margin-top:20px;
}
.fold.contact .optionFlow li:hover{
	background:#666;
	color:#fff;
	cursor:pointer;	
	border:1px solid #666;
}
.fold.contact .optionFlow li{
	marging:5px;
	padding:10px;
	border:1px solid #bbb;
	font-size:12px;
	display:inline-block;
}
.fold.contact .numberOfSteps{
	list-style-type:none;
	margin:0px;
	padding:0px;
	display:none;
}
.fold.contact .numberOfSteps li{
	margin:0px;
	padding:0px;
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:30px;
	background:#aaa;
	color:#fff;
	text-align:center;
	line-height:30px;
	font-family:SansRg;
}
.fold.contact .numberOfSteps li.active{
	background:#0f9d58;
}
.fold.contact b{
	font-weight:normal;
	font-family:SansRg;
	font-size:18px;
}
.fold.contact .seperator{
	margin-left:28%;
	border-bottom:1px dashed #bbb;
	margin-right:28%;
	margin-top:30px;	
}
.fold.contact .customerTicker .totalBookings{
	width:200px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	line-height:140%;
}
.fold.contact .customerTicker .totalBookings span{
	display:inline-block;
	font-family:SansLt;
	line-height:100%;
	font-size:45px;
	float:left;
	margin-top:-4px;
}
.fold.contact .customerTicker .userInformation {
	border-left:2px solid #888;
	padding:0px;
	margin:0px;
	padding-left:10px;
	list-style-type:none;
	display:inline-block;
}


.fold.working {
	background:#f1ede7 url('../images/box-3-bg.jpg') top right no-repeat;
	background-size :auto 100%;
	text-align:left;
	margin:auto;
	height:80%;
	width:100%;
	overflow:hidden;
	position:relative;
	top:0px;
	left:0px;
	min-height:400px;
}
.fold.working.mobile.enable{
	background:#f1ede7 url('../images/box-3-bg.jpg') top left no-repeat;
}
.fold.working .outer{
	height:100%;	
}
.fold.working h1.heading{
	color:#fff;
	font-size:35px;
	margin-left:10%;
	margin-bottom:5%;
	font-family:SansBlack;
}
.fold.working .step-1,
.fold.working .step-2 {
	display:inline-block;
	vertical-align:top;	
	width:250px;
	margin-left:10%;
	padding-left:30px;
	color:#fff;
	font-family:SansRg;
	position:relative;
}
.fold.working .step-2 {
	margin-left:-140px;	
}
.fold.working .step-2.mobile.enable {
	margin-left:10%;	
}

.fold.working .whatWeDo{
	padding-top:40px;
	display:block;
	background:url('../images/divider-what-we-do.png') 70px 0px no-repeat;
}
.fold.working .whatWeDo.mobile{
	display:none;	
}
.fold.working .stepGap {
	display:none;
	padding:25px;	
}
.fold.working .stepGap.mobile.enable {
	display:block;	
}
.fold.working .whatWeDo.mobile.enable{
	display:block;
	position:absolute;
	height:200px;
	width:2px;
	top:20px;
	left:8px;
	background:url('../images/divider-what-we-do.png') 0px 0px repeat-y;
}


.connectSteps.mobile.enable{
	display:none;	
}
.connectSteps{
	display:inline-block;
	background:url('../images/connect-steps.png') 0px 0px no-repeat;
	width:400px;
	height:400px;
	margin-top:-80px;
	margin-left:-140px;
}
.addClass {
	border-bottom:1px dotted #444;
	text-transform:lowercase;
	cursor:pointer;
	padding:5px;
}
.addClass:hover {
	background:#444;
	color:#fff;
	border:0px;	
}
.fold.intro .footer {
	height:50px;
	color:#ddd;
	line-height:50px;
	background:rgba(0, 0, 0, 0.2);
	position:absolute;
	width:100%;
	bottom:0px;
	right:0px;
}
.fold.intro .footer span img{
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
	border:0px;
}
.fold.intro .footer span{
	display:inline-block;
	padding:0px 20px;	
	font-size:12px;
}

.hide {
	display:none !important;	
}
.menu-static.mobile.enable {
	display:none;	
}

.menu-static {
	margin-top:40px;
	width:100%;
	text-align:center;
}
.menu-static ul{
	list-style-type:none;	
	margin:0px;
	padding:0px;
	width:100%;
	text-align:center;
	color:#fff;
}
.menu-static ul li {
	display:inline-block;
	padding:10px;
	margin:0px;
	margin-left:10px;
	cursor:pointer;	
}
.menu-static ul li:hover {
	text-decoration:underline;	
}

.fixed-menu.mobile.enable {
	display:none;	
}
.fixed-menu.permanent span.logo-fixed {
	text-align:left;
}
.fixed-menu.permanent span.logo-fixed img{
	height:auto;
	margin-top:0px;	
}
.fixed-menu.permanent {
	top:10px;	
	position:absolute;
	background:none;
	color:#ddd;
}
.fixed-menu {
	position:fixed;
	height:50px;
	line-height:50px;
	color:#ddd;
	top:0px;
	background:rgba(34, 34, 34, 0.9);
	left:0px;
	width:100%;
	text-align:center;
	z-index:100000;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateZ(0) scale(1.0,1.0)
}
.fixed-menu span.logo-fixed {
	padding:10px 0px;
	display:inline-block;
	margin:auto;
	width:0px;
		cursor:pointer;
	overflow:hidden;
	vertical-align:middle;
}
.fixed-menu span.logo-fixed img{
	height:25px;
	width:128px;
}
.fixed-menu ul{
	list-style-type:none;	
	margin:0px;
	padding:0px;
	text-align:left;
	display:inline-block;
	vertical-align:top;
}
.fixed-menu ul a {
	color:#ddd;	
}
.fixed-menu ul li {
	display:inline-block;
	padding:0px 5px;
	margin:0px;
	font-size:14px;
	margin-left:30px;
	cursor:pointer;
	line-height:30px;
}
.fixed-menu ul li:hover,
.fixed-menu ul li.active {
	color:#fff;
	border-bottom:1px solid #fff;
}
.fixed-mobile-header {
	position:fixed;
	top:0px;
	left:0px;
	height:60px;
	width:100%;
	display:none;
	background:rgba(34, 34, 34, 0.4);
	z-index:100000000;
}
.fixed-mobile-header.mobile.enable{
	display:block;	
}
.fixed-mobile-header span.logo-fixed {
	display:inline-block;
	padding:10px 0px;
	text-align:center;
	width:100%;
	position:relative;
}
.fixed-mobile-header span.logo-fixed img.menuIcon:active{
	background-color:rgba(0, 0, 0, 0.5)
}
.fixed-mobile-header span.logo-fixed img.menuIcon.menuActive{
	
}
.fixed-mobile-header span.logo-fixed img.menuIcon{
	height:40px;
	width:40px;
	background:none;
	float:left;
	padding-right:20px;
	position:absolute;
	left:0px;
	top:10px;
}
.fixed-mobile-header span.logo-fixed img.logo{
	height:30px;
	display:inline-block;
	margin-top:7px;
}
ul#mobile-menu {
	margin:0px;
	position:fixed;
	top:0px;
	left:-200px;
	width:200px;
	background:#222 url('../images/shadow-right.png') top right repeat-y;
	padding:0px;
	height:100%;
	z-index:1000000;
	padding-top:60px;
}
ul#mobile-menu li:last-child{
	border-bottom:0px;	
}
ul#mobile-menu li:first-child{
	border-top:0px;	
}

ul#mobile-menu a {
	color:#ddd;
	text-decoration:none;
	border-bottom:1px solid #111;
}
ul#mobile-menu li{
	padding:10px;
	color:#ddd;
	background:#222 url('../images/shadow-right.png') top right repeat-y;
}
ul#mobile-menu li:active{
	background:#888;
}

.fold.aboutUs {
	padding:20px 0px;
	height:auto;
	position:relative;
	margin:0px;
	width:100%;
	background:#fff;
	text-align:center;
}
.fold.aboutUs h1{
	font-weight:normal;
	color:#666;
	font-size:38px;
	font-family:SansBold;
	margin-top:5%;

}

.fold.aboutUs .featureList{
	list-style-type:none;
	width:80%;
	margin:5% auto;
	padding:0px;
	margin-bottom:0px;
	padding-bottom:40px;
}
.fold.aboutUs .featureList li{
	margin:0px;
	display:inline-block;
	width:20%;
	min-width:250px;
	padding:10px;
	vertical-align:top;
	text-align:center;
	font-size:16px;
	font-family:SansLt;
	color:#888;
}
.fold.aboutUs .featureList li img{
	width:100px;
	display:block;
	margin:auto;
	margin-bottom:15px;
}
.fold.aboutUs .bottomLine{
	color:#aaa;
	font-size:25px;
	display:block;
	margin:auto;
	margin-bottom:40px;
}
.fold.aboutUs .bottomLine img{
	display:block;
	width:80px;
	height:80px;
	margin:auto;
	padding-bottom:0px;
}

span.underline {
	width:80px;
	display:block;
	margin:auto;
	height:1px;
	border-bottom:1px solid #bbb;	
	margin:20px auto 40px auto;	
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
.fold.footer {
	padding:50px 0px 0px 0px;
	text-align:center;
	color:#fff;
	position:relative;
	font-size:14px;
	border-top:1px dashed #222;
	line-height:200%;
	background:#69b392;
}
.fold.footer small{
	font-size:14px;
	display:block;
}
.fold.footer small b{
	font-family:SansLt;
	font-size:16px;
	color:#fff;
	font-weight:bold;
	padding-left:30px;
}
.fold.footer .emailId {
		position:relative;
		padding-left:30px;
}
.fold.footer .emailId img.smallZombie{
	position:absolute;
	top:-32px;
	left:-30px;
	height:50px;
}
.fold.footer .emailId a{
	font-size:30px;	
	color:#fff;
	margin-top:10px;
	outline:none;
	text-decoration:none;
}
.fold.footer .emailId a:hover{
	border-bottom:1px solid #fff;
}
.fold.footer .companyName{
	display:block;
	margin-top:50px;
	height:50px;
	padding-top:20px;
	background:#333;
	color:#bbb;
	border-top:1px dashed #69b392;
	font-size:12px;
}
.companyName.mobile.enable h1 {
	float:none;
	margin:0px;
}
.companyName.mobile.enable img {
	float:none;	
}
.companyName.mobile.enable .innerSection {
	float:none;	
	display:block;
	margin:0px;
	margin-top:20px;
}
.companyName.mobile.enable{
	height:100px;
		
}
.companyName h1 {
	font-size:14px;
	color:#bbb;
	float:left;
	display:inline-block;
	vertical-align:middle;
	font-weight:normal;
	font-family:SansLt;
	margin:0px;
	margin-left:30px;
}
.companyName .innerSection{
	float:right;
	margin-right:30px;	
}
.companyName img {
	height:30px;
	width:30px;
		float:left;
	display:inline-block;
	vertical-align:middle;	
	margin:0px 0px 0px 15px;
}