html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

#side-nav {
	position: fixed;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    color: #000000;
    background-color: #ffffff;
    z-index: 10;
    font-size: 14px;
    padding-top: 55px;
}

#side-nav > div {
	padding: 15px;
	cursor: pointer;
}

#ham-menu {
	display: none;
}

#header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 20;
}

.side-nav-dropdown {
    top: 54px;
    text-align: left;
    padding: 20px;
    margin-left: -15px;
    display: none;
}

.side-nav-dropdown > div {
	font-size: 10px;
}

.side-nav-dropdown ul {
	padding-left: 20px;
	font-weight: 100;
	padding-bottom: 20px;
}

.side-nav-dropdown ul li {
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

.nav-dropdown {
    position: absolute;
    top: 54px;
    text-align: left;
    padding: 20px;
    margin-left: -15px;
    background-color: rgb(38, 38, 52);
    color: #ffffff;
    display: none;
}

.nav-dropdown > div:nth-child(3) {
	color: #efff1d; 
}

.nav-dropdown > div {
	font-size: 14px;
}

.nav-dropdown ul {
	padding-left: 20px;
	font-weight: 100;
	padding-bottom: 20px;
}

.nav-dropdown ul li {
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

.nav-dropdown ul li:hover {
	text-decoration: underline;
}

#scroll-content {
	display: none;
}

.person-profile {
	width: 100%;
	margin: 0 auto;
	height: 625px;
	background-image: url('../images/sara.png');
	background-repeat: no-repeat;
    background-position: center;
    background-color: #262634;
    background-size: cover;
    position: relative;
}

#title-bar {
	width: 80%;
	margin: 0 auto;
}

#logo {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	cursor: pointer;
	color: #ffffff;
	padding-top: 5px;
}

#navigation {
	text-align: right;
	display: inline-block;
	width: 69%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#person-details {
	height: 100%;
	width: 100%;
	margin-left: 10%;
	display: table;
}

#person-details > div {
	display: table-cell;
	vertical-align: middle;
}

#person-details > div > div:nth-child(1) {
	font-family: 'Open Sans', sans-serif;
	font-size: 62px;
	font-weight: bold;
	color: #ffffff;
}

#person-details > div > div:nth-child(2) {
	font-size: 28px;
	color: #ffffff;
}

#person-info {
	display: table;
	color: #ffffff;
	font-size: 18px;
	height: 100px;
	width: 80%;
}

#person-info > div{
	display: table-row;
}

#person-info > div > div{
	display: table-cell;
}

#person-info > div > div:nth-child(1){
	font-style: italic;
	font-weight: 300;
	width: 15%;
}

#person-info > div > div:nth-child(2){
	padding-left: 15px;
}

#course-name {
	color: #efff1d;
}

#divider {
    width: 50px;
    margin-left: 0;
    text-align: left;
    padding: 0; 
    border: 0;
    height: 1px;
    border-top: 2px solid #efff1d;
}

#navigation > ul {
	padding: 0;
	margin: 0;}

#navigation > ul > li {
	display: inline-block;
	color: #ffffff;
	padding: 15px;
	padding-bottom: 18px;
	transition: background-color 0.2s linear 0s;
}

#navigation > ul > li:hover {
	cursor: pointer;
	background-color: #262634;
	transition: background-color 0.2s linear 0s;
}

.prime-quote {
	width: 100%;
	height: auto;
	font-size: 30px;
	font-style: italic;
	font-weight: normal;
	background-color: #efeff6;
	padding-top: 30px;
	padding-bottom: 30px;
}

#prime-quote-text {
	width: 70%;
	margin: 0 auto;
	line-height: 140%;
	color: #0b0b09;
}

#cover-image {
	display: none;
}

.person-content {
	width: 80%;
	margin: 0 auto;
	color: #5a5a5f;
	padding-top: 40px;
}

.person-content > div {
	display: table;
}

.person-content > div > div:nth-child(1) {
	display: inline-block;
	width: 60%;
}

.person-content > div > div:nth-child(2) {
	display: inline-block;
	width: 40%;
	vertical-align: top;
	text-align: right;
	padding-top: 26px;
}

#secondary-quote {
	width: 36%;
	text-align: left;
	padding-left: 4%;
	font-style: italic;
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.person-intro {
	width: 100%;
	font-size: 16px;
	line-height: 160%;
	font-family: 'Open Sans', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}

.person-heading {
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	color: #48484e;
	padding-top: 20px;
}

.quote-mark {
	font-weight: bold;
}

#large-image {
	overflow: hidden;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#other-stories {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 16px;
	color: #2abf9e;
	cursor: pointer;
}

#custom-message {
	background-color: #2abf9e;
	margin-top: 40px;
}

#custom-message > div {
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #ffffff;
	font-weight: 500;
	font-size: 30px;
}

#resources {
	background-color: #48485e;
	color: #ffffff;
	padding-top: 4%;
	padding-bottom: 4%;
}

#resources > div {
	display: table;
	width: 85%;
	margin: 0 auto;
}

#resources > div > div {
	display: table-cell;
	vertical-align: middle;
}

#resources > div > div:nth-child(1) {
	width: 40%;
}

#resources > div > div:nth-child(2) {
	width: 60%;
}

#resources > div > div:nth-child(2) > div {
	display: table-cell;
	padding-left: 5%;
	padding-right: 5%;
	width: 33%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#signup-email > div:nth-child(1) {
	font-weight: bold;
	font-size: 40px;
}

#signup-email > div:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#signup-email > div {
	padding-top: 5px;
	padding-bottom: 5px;
}

#signup-email input {
    padding: 13px;
    background-color: #3b3b4e;
    border: 0;
    width: 210px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-right: -5px;
    color: #ffffff;
    transition: box-shadow 0.2s linear 0s;
}

#signup-email input:focus {
	outline: none;
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	transition: box-shadow 0.2s linear 0s;
}

#signup-email button {
	padding: 12px;
    border: 0px solid #efff1d;
    border-radius: 3px;
    background-color: #efff1d;
    width: 140px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #5e6055;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.1s linear 0s, background-color 0.1s linear 0s;
}

#signup-email button:hover {
	background-color: #2abf9e;
	transition: background-color 0.1s linear 0s;
}

#signup-email button:active {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	transition: box-shadow 0.1s linear 0s;
}

#links > div > div {
	padding-bottom: 30px;
}

#links > div > div:nth-child(1) {
	color: #2abf9e;
    font-size: 18px;
    font-weight: 500
}

#links > div > div:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#links li {
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

#links li:hover {
	text-decoration: underline;
}

#social {
	background-color: #3b3b4e;
	color: #ffffff;
	padding-top: 2%;
	padding-bottom: 2%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

#social > div {
	width: 85%;
	margin: 0 auto;
}

#social li {
	display: inline-block;
}

#social li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#social img {
	height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

#social > div > div:nth-child(1) {
	display: inline-block;
	width: 69%;
	min-width: 170px;
}

#social > div > div:nth-child(2) {
	display: inline-block;
	width: 30%;
	min-width: 170px;
	text-align: right;
}

@media only screen and (max-width: 1101px) {
	#signup-email button {
		margin-top: 10px;	
	}
}

@media only screen and (max-width: 1023px) {
	#hidden-layer {
		width: 100%;
	    height: 100vh;
	    background-color: #a9a9a9;
	    z-index: 5;
	    position: fixed;
	    opacity: 0.7;
	    display: none;
	}

	#side-nav {
		position: fixed;
	    top: 0;
	    left: -150px;
	    height: 100%;
	    width: 150px;
	    color: #000000;
	    background-color: #ffffff;
	    z-index: 10;
	    font-size: 14px;
	    padding-top: 55px;
	    font-weight: 500;
	}

	#side-nav > div {
		padding: 15px;
		cursor: pointer;
	}

	#ham-menu {
		font-size: 24px;
	    position: absolute;
	    left: 15px;
	    top: 10px;
	    display: block;
	}

	.person-profile {
		width: 100%;
		background-color: #262634;
		background-image: none;
		height: auto;
	}

	#logo {
		width: 100%;
		text-align: center;
		padding-top: 5px;
	}

	#navigation {
		display: none;
	}

	#person-details {
		width: 80%;
		margin: 0 auto;
		padding-top: 55px;
		padding-bottom: 30px;
		height: auto;
	}

	#person-details > div > div:nth-child(1) {
		font-size: 34px;
		text-align: center;
	}

	#person-details > div > div:nth-child(2) {
		font-size: 20px;
		text-align: center;
	}

	#person-info {
		font-size: 14px;
		height: auto;
		width: 100%;
	}

	#person-info > div > div:nth-child(1){
		width: 50%;
	}

	#divider {
		width: 50%;
		text-align: center;
		margin-left: auto;
	}

	.prime-quote {
		font-size: 16px;
	}

	#prime-quote-text {
		width: 80%;
	}

	#cover-image {
		overflow: hidden;
		direction: rtl;
		position: relative;
		height: 625px;
		display: block;
	}

	#cover-image img {
		position: absolute;
		right: -150px;
	}

	.person-content {
		padding-top: 20px;
	}

	.person-content > div {
		display: block;
	}

	.person-content > div > div:nth-child(1) {
		display: block;
		width: 100%;
	}

	.person-content > div > div:nth-child(2) {
		overflow: hidden;
		direction: rtl;
		display: block;
		width: 100%;
		text-align: center;
	}

	#secondary-quote {
		width: 100%;
		padding-left: 0;
		font-size: 16px;
		background-color: #efeff6;
		direction: ltr;
		margin-bottom: 20px;
	}

	#large-image {
		overflow: auto;
		direction: rtl;
	}

	#custom-message > div {
		font-size: 20px;
	}

	#resources > div {
		text-align: center;
	}

	#resources > div > div {		
		display: block;		
		vertical-align: middle;		
	}		

	#resources > div > div:nth-child(1) {		
		width: 100%;		
	}	

	#resources > div > div:nth-child(2) {		
		width: 100%;		
	}

	#resources > div > div:nth-child(2) > div {
		width: 100%;
		padding: 30px 0 0 0;
		display: block;
	}

	#signup-email > div:nth-child(1) {
		font-size: 36px;
	}

	#signup-email > div:nth-child(3) {
	    margin-top: 10px;
	    margin-bottom: 20px;
	}

	#signup-email input {
		margin-right: 0;
		text-align: center;
	}

	#signup-email button {
		margin-top: 15px;
	}

	#links > div > div {
		padding-bottom: 10px;
	}

	#social {
		text-align: center;
	}

	#social > div > div:nth-child(1) {
		display: block;
		width: 100%;
		min-width: 100%;
	}

	#social > div > div:nth-child(2) {
		display: block;
		width: 100%;
		min-width: 100%;
		padding-top: 15px;
		text-align: center;
	}
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
	#links {
		display: flex !important;
	}

	#resources > div > div:nth-child(2) > div {
		width: 33%;
	    padding-top: 30px;
	}
}

@media only screen and (min-width: 447px) {
	#signup-email input {
	    margin-right: -5px;
	}
}

@media only screen and (min-width: 768px) {
	#scroll-content {
		text-align: center;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    color: #ffffff;
	    transform: rotate(90deg);
	    font-size: 36px;
	    font-family: 'Open Sans', sans-serif;
	    display: block;
	}

	#scroll-content > span {
		cursor: pointer;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.person-profile {
		width: 100%;
		margin: 0 auto;
		height: 625px;
		background-image: url('../images/sara.png');
		background-repeat: no-repeat;
	    background-position: center;
	    background-color: #262634;
	    background-size: cover;
	}

	#title-bar {
		width: 80%;
		margin: 0 auto;
	}

	#logo {
		text-align: left;
	}

	#person-details {
		height: 100%;
		width: 100%;
		margin-left: 10%;
		display: table;
		padding: 0;
	}

	#person-details > div {
		display: table-cell;
		vertical-align: middle;
	}

	#person-details > div > div:nth-child(1) {
		font-size: 62px;
		text-align: left;
	}

	#person-details > div > div:nth-child(2) {
		font-size: 28px;
		text-align: left;
	}

	#person-info {
		display: table;
		color: #ffffff;
		font-size: 18px;
		height: 100px;
		width: 80%;
	}

	#person-info > div{
		display: table-row;
	}

	#person-info > div > div{
		display: table-cell;
	}

	#person-info > div > div:nth-child(1){
		font-style: italic;
		font-weight: 300;
		width: 15%;
	}

	#person-info > div > div:nth-child(2){
		padding-left: 15px;
	}

	#course-name {
		color: #efff1d;
	}

	#divider {
	    width: 50px;
	    margin-left: 0;
	    text-align: left;
	    padding: 0; 
	    border: 0;
	    height: 1px;
	    border-top: 2px solid #efff1d;
	}

	.person-profile div ul {
		padding: 0;
		margin: 0;}

	.person-profile div ul li {
		display: inline-block;
		color: #ffffff;
		padding: 15px;
		transition: background-color 0.2s linear 0s, color 0.2s linear 0s;
	}

	.person-profile div ul li:hover {
		cursor: pointer;
		background-color: #ffffff;
		color: #000000;
		transition: background-color 0.2s linear 0s, color 0.2s linear 0s;
	}

	.prime-quote {
		width: 100%;
		height: auto;
		font-size: 20px;
		font-style: italic;
		font-weight: normal;
		background-color: #efeff6;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#prime-quote-text {
		width: 70%;
		margin: 0 auto;
		line-height: 140%;
		color: #0b0b09;
	}

	#cover-image {
		display: none;
	}
}